    body {
    background-image: url(http://www.abilenecountryclub.com/Golf/Golf-Calendar/tennis3.aspx?width=2600&height=1347&ext=.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family: Verdana, Arial;
    margin: 50px;

    }

    form {
    padding: 10px;
    border-style: solid;
    width: 250px;
    }

    
    .login-form {
    padding-top: 5px;
    padding-bottom: 0px;
    display: inline;
    border-style: none;
    }

    .title{
    //border: 1px green solid;
    // margin-top: 10px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    }

    .header {
    width: 100%;
    position: fixed;
    background-color: #e3e3e3;
    top: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-right: 10px;
    //max-width: 960px;
    }

    .main {
    box-shadow: 0 0 60px #000033;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 10px;
    padding-bottom:60px;
    border-radius: 10px;
    background-color: #e3e3e3;
    min-height: 500px;
    }

    .navbar {
    background-color: #000020;
    }

    h2 {
    //text-align: center;
    color: #000020;
    // font-family: Arial;
    // font-style: ;
    }

    th, td {
    text-align: center;
    padding: 6px;
    }

    tr.default:nth-child(even){background-color: #c3c3c3}

    tr.pics:nth-child(1n){background-color: none; display:inline}
    tr.pics:nth-child(2n){background-color: none; display:inline}



    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000020;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover:not(.active) {
    background-color: #111;
    }

    .active {
    background-color: #4CAF50;
    }




/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: darkgray;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.user_menu {
    background-color: cadetblue;
    float: right;
    border-radius: 5px;
}
.user_menu > li {
  position: relative;

}



