@model CourtB

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<h4>Court</h4>
<hr />
@using (Html.BeginForm("Create", "Courts",FormMethod.Post))
{
    <p>
        @Html.Hidden("Id",Model.sport) <br />
        Nazev Kurtu: @Html.TextBox("CourtName") <br />
        <input type="submit" value="Create" />
    </p>
} 
@Html.ActionLink("Back", "Details", "Sports", new { id = Model.sport }, null)




