@model Court

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vytvoření kurtu</h2>
@ViewBag.MessageCreateCourt

<h4>Kurt</h4>
<hr />
@using (Html.BeginForm("Create", "Courts",FormMethod.Post))
{
    
    <p>
        @Html.Hidden("Id",Model.Sports_Id) <br />
        Název kurtu: @Html.TextBox(("CourtName"), Model.Name, new { @class = "form-control", placeholder = "", required = "required" }) <br />
        <input type="submit" value="Vytvořit"/>

    </p>
} 
@Html.ActionLink("Zpět", "Details", "Sports", new { id = Model.Sports_Id }, null)



