@model Reservation

@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rezervace kurtu</h2>
@ViewBag.MyMessageToUser
@using (Html.BeginForm("Reservation", "Courts", FormMethod.Post))
{
    <p>
        Datum a čas rezervace:
        @Html.TextBox("date", Model.Date)
        
        <input type="submit" value="Rezervovat" />

        <script>
        (function SetDate() {

        ("#datepicker").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy"
        });
    });
        </script>
    </p>
}
