@model IEnumerable<RPRO_SportSoft.Court>
@using RPRO_SportSoft.Application;

@{
    ViewBag.Title = "Statistika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistiky</h2>
@using (Html.BeginForm("Stats", "Courts", FormMethod.Post))
{
    <p>
        Sportoviště: @Html.DropDownList("Sport", new SelectList(new SportsApp().GetListNames())) <br />
        Od: <input class="myInput" name="dateFrom" date-type="date" id="datepicker" value=@ViewBag.dateFrom /><br />
        Do: <input class="myInput" name="dateTo" date-type="date" id="datepicker2" value=@ViewBag.dateTo /><br />
        <input type="submit" value="Odeslat" class="btn btn-default" />
    </p>
} 
<h3>@ViewBag.Sport</h3>
<table class="table">
    <tr>
        <th>
            Kurt
        </th>
        <th>
            Počet rezervací
        </th>
        <th>
            Výnos
        </th>
        <th>
            Průměrný výnos 
        </th>
    </tr>
@{ 
    CourtsApp app = new CourtsApp();
}
@foreach (var item in Model) {
    <tr>
        @{
            int count = app.getCountOfReservations(item.Id, DateTime.ParseExact((String)ViewBag.dateFrom, "dd.MM.yyyy", ViewBag.InvariantCulture),
                DateTime.ParseExact((String)ViewBag.dateTo, "dd.MM.yyyy", ViewBag.InvariantCulture));
            double gain = app.getGain(item.Id, DateTime.ParseExact((String)ViewBag.dateFrom, "dd.MM.yyyy", ViewBag.InvariantCulture),
                DateTime.ParseExact((String)ViewBag.dateTo, "dd.MM.yyyy", ViewBag.InvariantCulture));
            double mean = gain / count;
            if (Double.IsNaN(mean)) { mean = 0; }
        }
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @count
        </td>
        <td>
            @gain Kč
        </td>
        <td>
            @mean Kč
        </td>
    </tr>
}

</table>

