@model IEnumerable<RPRO_SportSoft.Court>
@using RPRO_SportSoft.Application;

@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistiky</h2>

<table class="table">
    <tr>
        <th>
            Kurt
        </th>
        <th>
            Počet rezervací
        </th>
        <th>
            Výnos
        </th>
        <th>
            Průměrný výnos 
        </th>
    </tr>
@{ 
    CourtsApp app = new CourtsApp();
}
@foreach (var item in Model) {
    <tr>
        @{
            int count = app.getCountOfReservations(item.Id);
            double gain = app.getGain(item.Id);
            double mean = gain / count;
            if (Double.IsNaN(mean)) { mean = 0; }
        }
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @count
        </td>
        <td>
            @gain Kč
        </td>
        <td>
            @mean Kč
        </td>
    </tr>
}

</table>
