@model Sport

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vytvoření sportoviště</h2>
@ViewBag.MessageCreate
@using (Html.BeginForm("Create", "Sports", FormMethod.Post))
{
    <p>
        Název sportoviště: @Html.TextBox("SportName",Model.Name, new { @class = "text", type = "text" , onkeyup = "this.value = this.value.replace(/[^a-z,A-Z,_,á-ž,0-9]/, '')", placeholder = "", required = "required" }) <br />
        <input type="submit" value="Vytvořit" />
    </p>
}

<div>
    @Html.ActionLink("Zpět na výpis", "Index")
</div>
