@model Sport
@using RPRO_SportSoft.Application;
@{
    ViewBag.Title = "Vytvoření sportoviště";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/toastr.js"></script>
<h2>Vytvoření sportoviště</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}
@if (ViewData["MessageCreate"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.error('@ViewData["MessageCreate"]');
    </script>
}

@using (Html.BeginForm("Create", "Sports", FormMethod.Post))
{
    <p>
        Název sportoviště: @Html.TextBox("SportName",Model.Name, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
        Obrázek: @Html.DropDownList("image", new SelectList(new ImagesApp().GetListNames()), new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
        <input type="submit" value="Vytvořit" class="btn btn-default" />
    </p>
}

<div>
    @Html.ActionLink("Zpět", "Index")
</div>
