@model Sport
@using RPRO_SportSoft.Application;
@{
    ViewBag.Title = "Vytvoření sportoviště";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vytvoření sportoviště</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}
@ViewBag.MessageCreate
@using (Html.BeginForm("Create", "Sports", FormMethod.Post))
{
    <p>
        Název sportoviště: @Html.TextBox("SportName",Model.Name, new { @class = "text", type = "text" , onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
        Obrázek: @Html.DropDownList("image", new SelectList(new ImagesApp().GetListNames())) <br />
        <input type="submit" value="Vytvořit" />
    </p>
}

<div>
    @Html.ActionLink("Zpět na výpis", "Index")
</div>
