@model String

@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reservation</h4>
        <h2>@ViewBag.Sport</h2>
        <hr />
       @ViewBag.Time
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
