@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hlavní stránka";
}

<h2>Hlavní stránka</h2>
@Html.ActionLink("Seznam sportovišť", "Index", "Sports")
</ br>
@Html.ActionLink("Přihlášení", "Index", "Users")
