@model IEnumerable<RPRO_SportSoft.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Správa uživatelů</h2>

<div id="container">
   
   
    <br /><br />
    <div id="dvUsersList">
        @{Html.RenderPartial("ListUser", Model);}
    </div>
</div>
<script type="text/javascript">

                    $(document).ready(function () {
                        alert(Email + " První");
                        $("#ActiveCB"+$("#Email").val()).change(function () {
                            alert(Email + " druhý");
                            var Email = $("#Email").val();

                            $("#dvUsersList").load('@(Url.Action("ChangeActive", "Main", null, Request.Url.Scheme))?Email=' + @item.Email);
                            alert(Email);
                        });
                    });
</script>
