<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <p>&copy; @DateTime.Now.Year - RPRO_SportSoft ASP.NET Application</p>
    <p> Microsoft .NET Framework Version:4.0.30319; ASP.NET Version:4.6.1073.0</p>
</body>
</html>