@model RPRO_SportSoft.PriceList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/toastr.js"></script>
<h2>Vytvoření ceníku</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}
@if (ViewData["MessageCreate"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.error('@ViewData["MessageCreate"]');
    </script>
}
@using (Html.BeginForm("Create", "PriceLists", FormMethod.Post))
{
    <p>
        Popis:
        @Html.TextBox("Description", Model.Description, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" })<br />
        Cena: @Html.TextBox("Price", Model.Price, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required", type = "number", min = "0"}) <br />
        <input type="submit" value="Vytvořit" class="btn btn-default" />
    </p>
}

<div>
    @Html.ActionLink("Zpět", "Index")
</div>
