@model RPRO_SportSoft.PriceList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vytvoření ceníku</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}

@ViewBag.MessageCreate
@using (Html.BeginForm("Create", "PriceLists", FormMethod.Post))
{
    <p>
        Popis:
        @Html.TextBox("Description", Model.Description, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" })<br />
        Cena: @Html.TextBox("Price", Model.Price, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required", type = "number", min = "0" }) <br />
        <input type="submit" value="Vytvořit" />
    </p>
}

<div>
    @Html.ActionLink("Zpět na výpis", "Index")
</div>
