@model RPRO_SportSoft.PriceList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vytvoření ceníku</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}

@ViewBag.MessageCreate
@using (Html.BeginForm("Create", "PriceLists", FormMethod.Post))
{
    <p>
        Popis:
        @Html.TextBox("Description", Model.Description)<br />
        Cena: @Html.TextBox("Price", Model.Price) <br />
        <input type="submit" value="Vytvořit" />
        <script>

       
        </script>
    </p>
}

<div>
    @Html.ActionLink("Zpět na výpis", "Index")
</div>
