@model PriceList
@using RPRO_SportSoft.Application;




@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Smazání ceníku</h2>
@ViewBag.MyMessageToUser 



<div>
@if (ViewBag.MyMessageToUser == null)
{
    <h3>Vážně chcete smazat ceník @Html.DisplayFor(model => model.Description) ?</h3>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

            <input type="submit" value="Vymazat" class="btn btn-default" />
            
    }
   
 }
   
</div>
@Html.ActionLink("Back to List", "Index")