@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.MessageLogin
<h2>Přihlášení</h2>
@using (Html.BeginForm("Index", "Users", FormMethod.Post))
{
    <p>
        Email: @Html.TextBox("UserEmail", Model.Email) <br />
        Heslo: @Html.Password("UserPass", Model.Password)<br />
        <input type="submit" value="Přihlásit" />
    </p>
}


@Html.ActionLink("Registrace", "Create", "Users")
